body {
  margin: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(20, 20, 20);
  align-items: center;
}

.navbar-item-list {
  list-style-type: none;
  display: flex;
}

.navbar-item {
  margin: 0 1em;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-title {
  color: #fff;
  transition: all 0.1s;
}

.navbar-title-link {
  text-decoration: none;
}

.navbar-title:hover {
  color: rgb(180, 132, 224);
  transition: all 0.1s;
}
