.pizza-edit-form-container {
  display: flex;
  align-items: center;
}

.pizza-edit-form-input {
  width: 500px;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .pizza-edit-form-container {
    align-items: center;
    width: 100%;
  }

  .pizza-edit-form-input {
    width: 90%;
    border-radius: 8px;
  }
}
